<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>智能公交电子站牌--管理平台</title>
  <link type="text/css" rel="stylesheet" href="stylesheets/bootstrap.css">
  <link type="text/css" rel="stylesheet" href="stylesheets/xeditable.css">
  <link type="text/css" rel="stylesheet" href="stylesheets/angular-toastr.css">
  <script type="text/javascript" defer async="true" data-main="javascripts/main.js" src="javascripts/plugins/require.js"></script>
</head>
<body>
    <div class="row">
      <div class="col-sm-2">
        <ul class="nav nav-pills nav-stacked">
          <li><a ui-sref="status">Software Suite</a></li>
          <li><a ui-sref="status">Status</a></li>
          <li><a ui-sref="devices">Devices</a></li>
          <li><a ui-sref="apps">Apps</a></li>
          <li><a ui-sref="users">Users</a></li>
          <li><a ui-sref="settings">Settings</a></li>
        </ul>
      </div>
      <div class="col-sm-10">
        <div ui-view="container"></div>
      </div>
    </div>
</body>
</html>