<section>
  <table class="table">
    <thead>
      <tr>
        <th>Name/UUID</th>
        <th>Battery</th>
        <th>State</th>
        <th>Signal Strength</th>
        <th>Connectivity</th>
        <th>Firmware</th>
        <th>HW.reversion</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="device in devices">
        <td>{{device.Uuid}}</td>
        <td>{{device.Status.Battery+"%"}}</td>
        <td>{{device.State}}</td>
        <td>{{"-"+ device.Status.RSSI}}</td>
        <td>{{device.connectivity}}</td>
        <td>{{device.Status.FirmwareMajor+"."+device.Status.FirmwareMinor+"."+device.Status.FirmwareRevision}}</td>
        <td>{{device.Options.Revision}}</td>
        <td><button type="button" class="btn btn-info btn-sm" ng-click="openDeviceModal('lg', $index)">Edit</button></td>
      </tr>
    </tbody>
  </table>
  <div class="btn-group">
    <button class="btn btn-danger pull-right">Remove device</button>
    <button class="btn btn-danger pull-right">Reboot device</button>
  </div>
</section>
<script type="text/ng-template" id="deviceModal.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{uuid}}</h3>
  </div>
  <div class="modal-body">
    <uib-tabset active="0">
      <uib-tab heading="Status&Settings" index="0">
        <table class="table">
          <caption>Status {{device.Status}}</caption>
          <tr>
            <td class="col-sm-4">Name</td>
            <td class="col-sm-8"></td>
          </tr>
          <tr>
            <td class="col-sm-4">Battery</td>
            <td class="col-sm-8"></td>
          </tr>
          <tr>
            <td class="col-sm-4">Signal Strength</td>
            <td class="col-sm-8"></td>
          </tr>
          <tr>
            <td class="col-sm-4">Temperature</td>
            <td class="col-sm-8"></td>
          </tr>
          <tr>
            <td class="col-sm-4">Hardware Revision</td>
            <td class="col-sm-8"></td>
          </tr>
          <tr>
            <td class="col-sm-4">Firmware Revision</td>
            <td class="col-sm-8"></td>
          </tr>
        </table>
        <table class="table">
          <tr>
            <td class="col-sm-4">Period</td>
            <td class="col-sm-8"></td>
          </tr>
        </table>
        <table class="table">
          <caption>Device Handling</caption>
          <tr>
            <td class="col-sm-4">Automatic update to latest firmware</td>
            <td class="col-sm-8"></td>
          </tr>
          <tr>
            <td class="col-sm-4">Automatic update to latest bootloader</td>
            <td class="col-sm-8"></td>
          </tr>
        </table>
        <table class="table">
          <caption>Session</caption>
          <tr>
            <td class="col-sm-4">Backend</td>
            <td class="col-sm-8"></td>
          </tr>
          <tr>
            <td class="col-sm-4">Default dithering</td>
            <td class="col-sm-8"></td>
          </tr>
          <tr>
            <td class="col-sm-4">Default bit depth</td>
            <td class="col-sm-8"></td>
          </tr>
        </table>
        <table class="table">
          <tr>
            <td class="col-sm-4">Display type</td>
            <td class="col-sm-8"></td>
          </tr>
          <tr>
            <td class="col-sm-4">Display rotation</td>
            <td class="col-sm-8"></td>
          </tr>
        </table>
      </uib-tab>
      <uib-tab heading="Device Configuration" index="1">
        Device Configuration
      </uib-tab>
      <uib-tab heading="Live View" index="2">
        Live View
      </uib-tab>
      <uib-tab heading="Charts" index="3">
        Charts
      </uib-tab>
      <uib-tab heading="Events" index="4">
        Events
      </uib-tab>
    </uib-tabset>
  </div>
</script>