<section>
  <div>
    <table class="table">
      <tr>
        <td>Visionect Software Suit Version</td>
      </tr>
      <tr>
        <td>{{status.Version}}</td>
      </tr>
      <tr>
        <td>Online Devices </td>
      </tr>
      <tr>
        <td>{{onlineDeviceNum}}</td>
      </tr>
      <tr>
        <td>Registered Devices </td>
      </tr>
      <tr>
        <td>{{registerDeviceNum}}</td>
      </tr>
      <tr>
        <td>Sessions active/maximum</td>
      </tr>
      <tr>
        <td>{{okulars.Sessions}}/{{okulars.MaxSessions}}</td>
      </tr>
      <tr>
        <td>Server load {{prop}}</td>
      </tr>
      <tr>
        <td>Average: {{okulars.AvgLoad}}, Deviation: {{okulars.StdDeviation}}</td>
      </tr>
    </table>
  </div>
</section>
