<section>
  <div class="box-group">
    <p class="table-heading">状态</p>
    <div class="box box-primary status">
      <div class="box-header with-border">
        <h4 class="box-title"><i class="fa fa-info-circle"></i>服务器信息</h4>
      </div>
      <div class="box-body">
        <small>VERSION:{{status.Version}}</small>
      </div>
    </div>
    <div class="box box-success status">
      <div class="box-header with-border">
        <h4 class="box-title"><i class="fa fa-tv"></i>#1 加载引擎</h4>
      </div>
      <div class="box-body ">
        <h2>{{okulars.AvgLoad}}</h2>
      </div>
      <div class="box-footer">
        <small>偏差{{okulars.StdDeviation}}</small>
      </div>
    </div>
    <div class="box box-primary status">
      <div class="box-header with-border">
        <h4 class="box-title"><i class="fa fa-tablet"></i>在线设备</h4>
      </div>
      <div class="box-body">
        <h2>{{onlineDeviceNum}}</h2>
      </div>
      <div class="box-footer">
        <small>注册设备:{{registerDeviceNum}}</small>
      </div>
    </div>
    <div class="box box-primary status">
      <div class="box-header with-border">
        <h4 class="box-title"><i class="fa fa-tachometer"></i>会话活动数</h4>
      </div>
      <div class="box-body">
        <h2>{{okulars.Sessions}}</h2>
      </div>
      <div class="box-footer">
        <small>最大会话数：{{okulars.MaxSessions}}</small>
      </div>
    </div>
    <div class="box box-success status">
      <div class="box-header with-border">
        <h4 class="box-title"><i class="fa fa-cube"></i>服务器固件</h4>
      </div>
      <div class="box-body">
        <h2><i class="fa fa-check"></i></h2>
        <small>{{"在线"}}</small>
      </div>
    </div>
  </div>
</section>
