<section>
  <div>
    <table class="table">
      <tr>
        <td>Visionect Software Suit Version</td>
        <td>{{}}</td>
      </tr>
      <tr>
        <td>Online Devices </td>
      </tr>
      <tr>
        <td>{{onlineDeviceNum}}</td>
      </tr>
      <tr>
        <td>Registered Devices </td>
      </tr>
      <tr>
        <td>{{registerDeviceNum}}</td>
      </tr>
      <tr>
        <td>Sessions active/maximum</td>
      </tr>
      <tr>
        <td>{{}}/{{}}</td>
      </tr>
    </table>
  </div>
</section>
