<section>
  <table class="table">
    <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th>Enabled</th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users" ng-if="user.IsAPI==false">
        <td>
          <span editable-text="user.Username" e-name="username" e-form="rowform">{{user.Username||'empty'}}</span>
        </td>
        <td>
          ......
        </td>
        <td>
          <a href="#" editable-checkbox="user.IsActive" e-title="enable?">{{user.IsActive && "Yes" || "NO"}}</a>
        </td>
        <td style="white-space:nowrap">
          <form editable-form name="rowform" onbeforesave="saveUser($data, user._id)" ng-show="rowform.$visible" class="form-buttons form-inline">
            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
              save
            </button>
            <button type="button" ng-disabled="rowform.$waiting" class="btn btn-default">
              cancel
            </button>
          </form>
          <div class="buttons" ng-show="!rowform.$visible">
            <button type="button" class="btn btn-primary" ng-click="rowform.$show()">
              edit
            </button>
            <button type="button" class="btn btn-danger" ng-click="removeUser($index, user._id)">
              del
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-info pull-right" ng-click="addUser()">Add User</button>
</section>
